<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>profile works!</h1>
for
<div>Take a picture
    <input type="file" accept="image/*" capture>
    <input type="file" accept="video/*" capture>
    <input type="file" accept="image/*" capture="user || environment">
</div>

<br>

<div id="target">You can drag an image file here</div>
<script>
  const target = document.getElementById('target');

  target.addEventListener('drop', (e) => {
    e.stopPropagation();
    e.preventDefault();

    doSomethingWithFiles(e.dataTransfer.files);
  });

  target.addEventListener('dragover', (e) => {
    e.stopPropagation();
    e.preventDefault();

    e.dataTransfer.dropEffect = 'copy';
  });
</script>

<div>
    <p id="source" ondragstart="dragstart_handler(event);" draggable="true">
      Select this element, drag it to the Drop Zone and then release the selection to move the element.
    </p>
  </div>
  <div id="target" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">Drop Zone</div>